




<ul>
    <li><a asp-controller="Product" asp-action="Testy">Testy</a></li>
    <li><a asp-controller="Product" asp-action="Nasty">Nasty</a></li>
    <li><a asp-controller="Product" asp-action="ProductIndex">Product index</a></li>
    <li><a asp-controller="Product" asp-action="Listall">List all</a></li>
</ul>














