<h3>Admin</h3>

<ul>
    <h4>Product management</h4>
    <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
    <li><a asp-area="" asp-controller="Images" asp-action="Index">Images</a></li>
    <h4>Role management</h4>
    <li><a asp-controller="Admin" asp-action="AllRoles">View all roles</a></li>
    <li><a asp-controller="Admin" asp-action="UpdateAddRole">Add and update roles</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Set user role</a></li>


</ul>