@model AddRoleVm

<h1>Admin</h1>

<div class="form-group">
    <form asp-action="AddRoleForUser">

        <div asp-validation-summary="All"></div>
        <label>UserName</label>

        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
        <label>Set role:</label>
        <select asp-for="RoleInformation.Id" asp-items="Model.RoleItems"></select>
        <button>Save</button>
    </form>
</div>

