@model Product




<ul>
    <li>Produktens Id: @Model.Id</li>
    <li>Produktens namn: @Model.Name</li>
    <li>Produktens beskrivning: @Model.Description</li>
</ul>

<h5><a asp-action="listall">Tillbaka</a></h5>



