USE [Checkpoint04]
GO
/****** Object:  Table [dbo].[BuildYear]    Script Date: 2018-12-21 09:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildYear](
	[ID] [int] NOT NULL,
	[BuiltWhatYear] [int] NULL,
 CONSTRAINT [PK_BuildYear] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHURCH]    Script Date: 2018-12-21 09:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHURCH](
	[ChurchID] [int] NOT NULL,
	[BuildYear] [int] NULL,
	[Location] [int] NULL,
	[NameOfChurch] [int] NULL,
 CONSTRAINT [PK_CHURCH] PRIMARY KEY CLUSTERED 
(
	[ChurchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2018-12-21 09:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[ID] [int] NOT NULL,
	[Location] [nvarchar](50) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameOfChurch]    Script Date: 2018-12-21 09:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameOfChurch](
	[ID] [int] NOT NULL,
	[NameOfChurch] [nvarchar](50) NULL,
 CONSTRAINT [PK_NameOfChurch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHURCH]  WITH CHECK ADD  CONSTRAINT [FK_CHURCH_BuildYear] FOREIGN KEY([BuildYear])
REFERENCES [dbo].[BuildYear] ([ID])
GO
ALTER TABLE [dbo].[CHURCH] CHECK CONSTRAINT [FK_CHURCH_BuildYear]
GO
ALTER TABLE [dbo].[CHURCH]  WITH CHECK ADD  CONSTRAINT [FK_CHURCH_Location] FOREIGN KEY([Location])
REFERENCES [dbo].[Location] ([ID])
GO
ALTER TABLE [dbo].[CHURCH] CHECK CONSTRAINT [FK_CHURCH_Location]
GO
ALTER TABLE [dbo].[CHURCH]  WITH CHECK ADD  CONSTRAINT [FK_CHURCH_NameOfChurch] FOREIGN KEY([NameOfChurch])
REFERENCES [dbo].[NameOfChurch] ([ID])
GO
ALTER TABLE [dbo].[CHURCH] CHECK CONSTRAINT [FK_CHURCH_NameOfChurch]
GO
