USE [master]
GO
/****** Object:  Database [GnomeDb]    Script Date: 2019-01-11 09:46:10 ******/
CREATE DATABASE [GnomeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GnomeDb', FILENAME = N'C:\Users\Administrator\GnomeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GnomeDb_log', FILENAME = N'C:\Users\Administrator\GnomeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GnomeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GnomeDb]
GO
USE [GnomeDb]
GO
/****** Object:  Table [dbo].[GNOME]    Script Date: 2019-01-11 09:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GNOME](
	[GnomeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Beard] [bit] NOT NULL,
	[GodOrEvil] [bit] NOT NULL,
	[AngerLevel] [int] NOT NULL,
	[RasID] [int] NOT NULL,
 CONSTRAINT [PK_GNOME] PRIMARY KEY CLUSTERED 
(
	[GnomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAS]    Script Date: 2019-01-11 09:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAS](
	[RasID] [int] NOT NULL,
	[Ras] [nvarchar](50) NULL,
 CONSTRAINT [PK_RAS] PRIMARY KEY CLUSTERED 
(
	[RasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GNOME]  WITH CHECK ADD  CONSTRAINT [FK_GNOME_RAS] FOREIGN KEY([RasID])
REFERENCES [dbo].[RAS] ([RasID])
GO
ALTER TABLE [dbo].[GNOME] CHECK CONSTRAINT [FK_GNOME_RAS]
GO
USE [master]
GO
