
<h3>Hej och välkommen till Trupp-advisor</h3>

<a asp-action="AddReportPage" asp-controller="Report">Lägg till en recension</a>
<a asp-action="ViewAll" asp-controller="Report">Visa alla recensioner</a>
<a asp-action="DeleteReport" asp-controller="Report">Ta bort recension</a>





