

<h3>Recensionen är borttagen</h3>

<a asp-action="ViewAll">Visa alla</a>
<a asp-action="AddReportPage">Lägg till ny recension</a>
<a asp-action="DeleteReport">Ta bort ytterligare en recension</a>
<a asp-action="Index" asp-controller="Home">Tillbaka till huvudmenyn</a>